@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,500;1,900&display=swap');



.login_Wrapper {
  margin: 0 auto;
  min-width: 330px;
  max-width: 440px;
  width: 50%;
  padding: 20px;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #D9D9D9;
  border-radius: 15px;
}

.input_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-width: 300px;
  max-width: 330px;
  height: 52px;
  padding: 14px;
  border-radius: 5px;
  border: 1px solid var(--line-gray);
  margin-bottom: 5px;
} 

.input_wrapper input{
  width: 100%;
}

#errorAlerter{
  width: 100%;
  min-width: 300px;
  max-width: 330px;
  min-height: 30px;
  margin: 10px 0;
  color: var(--alert-red);
  margin-bottom: 70px;
}

#keepLoginLabel{
  margin-left: 5px;
}

.LoginOptionWrap{
  width: 100%;
  min-width: 300px;
  max-width: 330px;
}
#keepLoginOption{
  float: left;
}
#registerOptionWrap{
  float: right;
  cursor: pointer;
}
#findUserID{
  margin-right: 17px;
  cursor: pointer;
}