
.header{
    display: flex;
    justify-content: center;
}
.place_wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 470px;
    min-width: 330px;
}
.place_title_back{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 42px;
    height: 42px;
}
.place_title_back>img{
    width:20px;
}

.place_header{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    max-width: 470px;
    min-width: 330px;
    height: 70px;
    border-bottom: 1px solid var(--line-gray);
}

.place_title_add{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 42px;
    height: 42px;
}
.place_title_add>img{
    width: 32px;
}

.search_box{
    width: 100%;
    max-width: 470px;
    min-width: 330px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.search_box>input{
    width: 100%;
    margin: 10px 0;
    min-height: 42px;
    padding: 10px 20px;
}
.search{
    
    border-radius: 5px;
    background-color: var(--background-gray);
    width: 330px;
    height:34px;
    padding: 20px;
}
.category{
    height: 20px;
    margin-bottom: 10px;

}
.arrow_array{
    display: flex;
    cursor: pointer;
    margin: 10px;
    font-size: 12px;
    
}
.array{
    font-size: 12px;
    color: var(--font-gray);
}


.info{
    width:100%;
    max-width: 580px;
    min-width: 470px;
    height: 300px;
    
    
}

.info_profile{
    width:280px;
    height:180px;
    border-radius: 5px;
}
.rate_img{
    width: 15px;
}
.place_name{
    margin-top: 10px;
}
.grade{
    display: flex;
}
.rate{ 
    padding-right: 10px;
    margin: 5px;
    border-right: 2px solid var(--line-gray);
}
.rate_img{
    width: 15px;
    height:15px;
    margin-top:10px;
}
.time{
    padding-right: 10px;
    margin:5px;
    border-right: 2px solid var(--line-gray);
}
.parking{
    padding: 5px;
}
.location{
    color:var(--font-gray);
}