.options {
  cursor: pointer;
}
.profileCard {
  display: flex;
  align-items: center;
}
.profileImage {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 2px solid var(--line-gray);
}

.profileInfo {
  margin-left: 20px;
}
.userInfo {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 40px;
  width: 50px;
  margin: 20px 0;
}

.Writting {
  width: 70px;
  height: 30px;
  color: var(--font-gray);
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid var(--font-gray);
  cursor: pointer;
}
.presentpicture {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;
}
.exPicture {
  border-radius: 5px;
  width: 140px;
  height: 140px;
  margin: 1px;
  cursor: pointer;
}
