/* 라디오 네비 */
.radioNav {
  width: 100%;
  max-width: 470px;
  min-width: 330px;
  height: 42px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.radioNav > a {
  height: 100%;
}

.radioNavButton {
  float: left;
  margin: 0 20px;
  display: flex;
  height: 100%;
  align-items: center;
}

a.active > div {
  color: var(--main-deep-brown);
  font-weight: 600;
  border-bottom: 2px solid var(--main-deep-brown);
  height: 100%;
}

/* 스토리앨리먼트 */
.storyWrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 470px;
  min-width: 330px;
  border: 1px solid var(--line-gray);
}

.slick-track {
  display: flex !important;
  align-items: center;
  background-color: var(--background-gray);
}
.story {
  width: 100%;
  max-width: 470px;
  min-width: 330px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: var(--line-gray);
  margin: 0 auto;
}
.userProfileWrapper {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

.storyInteractionWrapper {
  width: 100%;
  border-width: 1px 0px;
  border-style: solid;
  border-color: var(--line-gray);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}
.storyDetailWrapper {
  width: 100%;
  min-height: 80px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.userProfile-sm {
  display: flex;
  align-items: center;
  width: 100%;
}
.userProfile-sm span {
  display: block;
}
.userProfile-sm > img {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 100%;
  border: 2px solid var(--line-gray);
  margin-right: 10px;
}
.icon {
  width: 36px;
  height: 36px;
  margin-right: 20px;
  border-radius: 100%;
  cursor: pointer;
  padding: 7px;
  padding-left: 0;
}
.comment_input {
  border: 1px solid var(--line-gray);
}

/* .storyComment>span{
  line-height: 0.8rem;
} */
.storydetail {
  max-width: 470px;
  min-width: 330px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: var(--line-gray);
  height: 530px;
}
.story_detail_wrapper {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}

.story_deatil_comments_wrapper {
  max-width: 470px;
  min-width: 330px;
  height: 530px;
}

.comment_userProfile {
  float: left;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-right: 5px;
}
