/* 전역 CSS파일 */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,500;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  color: var(--font-black);
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
}
:root{
  --main-deep-brown: #a68762;
  --main-brown:#F2D0A6;
  --main-light-brown:#FFE7C9;
  --sub-deep-blue : #518AA6;
  --sub-light-blue : #A7DAF2;
  --font-black: #333333;
  --font-gray: #737373;
  --font-light-gray : #a5a5a5;
  --background-brown : #FFF9F2;
  --background-gray : #f8f8f8;
  --background-white : #FFFFFF;
  --alert-red: #F62215;
  --line-gray: #f2f2f2;
}
body {
  min-height: 100vh;
}
.opacity-50{
  opacity: 0.5;
}
input {
  outline: none;
  border: none;
}
span{
  line-height: auto;
}

.skeleton {
  background-color: var(--font-gray);
}
img{
  display: block !important;
  object-fit: cover;
}

.mt-5{
  margin-top: 5px;
}
.mt-10{
  margin-top: 10px;
}

.mr-5{
  margin-right: 5px;
}
.mr-10{
  margin-right: 10px;
}


/* 컬러시스템 */
.fontgray {
  color: var(--font-gray)
}
.font_deep_brown {
  color: var(--main-deep-brown);
}
.font_light_gray,::placeholder{
  color: var(--font-light-gray);
}

/* 타입시스템 */
.bold {
  font-weight: 500;
}
.xbold{
  font-weight: 600;
}

.h5 {
  font-size: 0.8rem;
}
.h4 {
  font-size: 1.2rem;
}
.h3 {
  font-size: 1.4rem;
}
.h2 {
  font-size: 1.6rem;
}
.h1 {
  font-size: 1.8rem;
}


/* css 초기화 */
button {
  border: none;
}

h1 {
  margin: 20px auto;
  width: 155px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media screen and(max-width:425px) {
  *{
    letter-spacing: 10px;
  }
}
